/*
Sass Variables
*/

$primary-color: #1a1a1a;
$secondary-color: #2e2e2e;
$white: #fff;
$font-color: #a3a3a3; //#acacac
$pane-width: 650px;
$pane-height: 450px;
$btn-logo-width: 55px;
$btn-logo-height: 55px;
$btn-visit-width: 215px;
$btn-visit-height: 65px;
$btn-add-width: 40px;
$btn-add-height: 40px;
$btn-close-width: 40px;
$btn-close-height: 40px;
$carousel-btn-color: #434343;
$carousel-btn-active-color: #828282;
$breakout-color: #e6e6e6;
$breakout-blurb-width: 480px;
